<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conn" value="mongodb://localhost"></add>
    <add key="dbName" value="test"/>
    <add key="collectionName" value="test14"/>
    <add key="batchsize" value="10"/>
    <add key="sleep-interval-in-milliseconds" value="5000"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
